<!-- Content that is going to chance -->
{% extends "rentals/base.html" %}
<!-- this is really important is telling the template that is going to load the extend -->
{% load static %}
<!-- Content that is going to chance -->
{%  block content %}
<!-- Contact Us Section -->
<div style="background-color: white">
  <br>
  <section class="Material-contact-section section-padding section-dark" style="background-color: white">
    <div class="container">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
          <h2 class="section-title">{{estate.title}}</h2>
        </div>
      </div>
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
          <p>{{estate.description}}</p>

          {% for facility in estate.facility.all %}
          <li>{{facility}}</li>
          {% endfor %}

          <div class="find-widget">
            {{estate.zone}}
          </div>
          <div class="find-widget">
            {{estate.pax}}
          </div>

          <div class="find-widget">
            {{estate.amount}}
          </div>

        </div>
        <!-- contact form -->
        <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
          <form class="shake" role="form" action="{% url 'rentals:reserve' estate.id %}" method="POST" id="contactForm" name="contact-form" data-toggle="validator">
            {% csrf_token %}
            <!-- Name -->
            <div class="form-group label-floating">
              <label class="control-label" for="name">Nombre</label>
              <input class="form-control" id="name" type="text" name="name" required
                data-error="Please enter your name">
              <div class="help-block with-errors"></div>
            </div>
            <!-- Last name -->
            <div class="form-group label-floating">
              <label class="control-label" for="last_name">Apellido</label>
              <input class="form-control" id="last_name" type="text" name="last_name" required
                data-error="Please enter your last name">
              <div class="help-block with-errors"></div>
            </div>
            <!-- Email -->
            <div class="form-group label-floating">
              <label class="control-label" for="email">Email</label>
              <input class="form-control" id="email" type="email" name="email" required
                data-error="Please enter your Email">
              <div class="help-block with-errors"></div>
            </div>
            <!-- Form Submit -->
            <div class="form-submit mt-5">
              <button class="btn btn-common" type="submit" id="form-submit"><i
                  class="material-icons mdi mdi-message-outline"></i> Reservar</button>
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}