<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

</head>
<body>
    <form action="{% url 'rentals:makefilter' %}" method="POST">
        {% csrf_token %}
        <input type="date" name="since_date" min= {{ today_date }} required>
        <input type="date" name="to_date" min= {{ today_date }} required>
        <input type="number" name="pax" min="1" required>
        <input type="text" name="city" required>
        <button type="submit">Filter</button>
        {% if flag %}
        <div class="alert alert-danger" role="alert" >
            <strong style="text-align: center;">Las fechas ingresadas son incorrectas, intentelo nuevamente.</strong>
        </div>
        {% endif %}
        
    </form>
</body>
</html>