<!-- Content that is going to chance -->
{% extends "rentals/base.html" %}
<!-- this is really important is telling the template that is going to load the extend -->
{% load static %}

<!-- Content that is going to change -->
{%  block content %}
<div style="background-color: azure;">
  <div class="container">
    {% if reserve_done %}
      <br>
      <div class="text-center alert alert-primary alert-dismissible fade show col-6" style="margin: auto" alert">
        <h4 class="alert-heading" style="font-weight: 600;">Reserva realizada con exito!</h4>
            <hr>
        <p style="font-family: sans-serif;" class="mb-0"> Verá la información de la reserva en su casilla de mail.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    <!--Section: Offers-->
    <section style="background-color: azure;" id="offers" class="pt-2 pb-3">

      <!-- Grid row -->
      <div class="row mt-4">
        {% if estates_list %}
        {% for estate in estates_list %}
        <!-- Grid column -->
        <div class="cardCont col-md-6 col-lg-4">

          <!--Card-->
          <div class="myCard card card-personal mb-4">

            <!--Card image-->
            <div class="view overlay">
              <a href="{% url 'rentals:details' estate.id %}">
                <img style="height: 260px;" class="card-img-top" src="{{ estate.image.url }}" alt="Estate picture">
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <a>
                <h5 class="font-weight-bold text-uppercase">
                  {{estate.title}}
                </h5>
              </a>
              <a>
                <span class="badge badge-success py-2 px-2">${{estate.amount}}</span>
              </a>

              <!--Text-->
              <p class="grey-text mt-2">Zona: {{estate.zone}}
                <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div style="left: 100;" class="col-lg-4 col-md-12 text-center">
                  <p class="dark-grey-text">
                    <i class="fas fa-hotel dark-grey-text" aria-hidden="true"></i> {{estate.pax}} Pers</p>
                </div>
                <!--Grid column-->



              </div>
              <!--Grid row-->
              </p>
              <hr>
              <!--Grid column-->
              <div class="col-12 text-center">
                <a href="{% url 'rentals:details' estate.id %}"
                  class="butt btn btn-success btn-sm font-weight-bold btn-rounded">
                  Seleccionar
                </a>
              </div>
              <!--Grid column-->

            </div>
            <!--Card content-->

          </div>
          <!--Card-->
        </div>
        {% endfor %}
        {% else %}
        <h3 class="alert alert-info" role="alert" style="text-align: center; margin-left: 170px;">
          <strong style="text-align: center;">No hay propiedades para mostrar con los datos ingresados</strong>
        </h3>

        {% endif %}
        <!-- Grid row -->
      </div>

    </section>
    <!--Section: Offers-->
  </div>
</div>
{% endblock %}